
:root
{
    --GrisLight : rgb(233,233,233);
    --GrisDark : rgb(83,86,91);
    --Cuivre : rgb(179,103,0);


}



@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins-Regular.ttf) format("truetype");
}


body {
    margin: 0;
    font-family: 'Poppins';
}

.Bandeau {
    
    background-color: var(--GrisLight);
    color: var(--GrisDark);
    height: 10vw;
    display: flex;
    align-items: center;
    z-index: 999  ;
    position : fixed;
    width: 100%;
   

}

.Texte {

    padding-left: 2vw;
    width: 20vw;
    
    
}


.Logo img{
    width: 6vw;
    padding-left: 2vw;
}

.Nom {
 
    font-size: 2vw;
    width: 0.5vw;
    line-height: 2vw;
    
}

.Profession {

letter-spacing: 0.4vw;

}

#Menu {

    background-color: var(--GrisLight);
    color: var(--GrisDark);
    display: flex   ;
    justify-content: space-around;
    list-style: none;
    width: 40vw;
    font-size: 1vw;

     
  
}

#Menu li  {

    display: flex;
    align-items:center ;
}

#Menu a {
    color: var(--GrisDark);
    text-decoration: none;
}



#Logo_Acceuil.On {
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(179,103,0));

}

#Logo_Réalisation.On {
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(179,103,0));

}

#Logo_Galerie.On {
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(179,103,0));

}

#Logo_Contact.On {
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(179,103,0));

}



#Titre_Acceuil.On {
color: rgb(179,103,0);
border-bottom: solid thin ;
}

#Titre_Réalisation.On {
color: rgb(179,103,0);
border-bottom: solid thin ;
}

#Titre_Galerie.On {
color: rgb(179,103,0);
border-bottom: solid thin ;
}

#Titre_Contact.On {
color: rgb(179,103,0);
border-bottom: solid thin ;
}


#Logo_Réalisation {
    height : 1.1vw;
    padding-right: 0.5vw;
    

}

#Logo_Contact {
    height : 1.2vw;
    padding-right: 0.5vw;
    

}

#Logo_Acceuil {
    height : 2.2vw;
    padding-right: 0.5vw;
    

}

#Logo_Galerie {
    height : 1.3vw;
    padding-right: 0.5vw;
    

}

#téléphone {
    margin-left: 10vw;
    width: 8.5vw;
    height: 2.5vw;  
    font-size: 0.9vw; 
    justify-content: center;
    align-items: center;
    display: flex;    
    border-radius: 1vw;
    background-color: var(--GrisDark);
    color: var(--GrisLight);
    border: solid var(--GrisDark);
}


.Menu a:hover {
    color : var(--Cuivre);
    cursor: pointer;
}

#téléphone:hover {
    color : var(--Cuivre);
    border: solid var(--GrisDark);
    background-color: var(--GrisLight);
    cursor: pointer;
}

#Section_Acceuil{
    position: relative;
    z-index: 2  ;
    overflow: hidden;
}
#Menuisier {

    width: 100%;
    opacity: 0.6;
    filter: grayscale(0.9);
    filter: saturate(1);
    position: absolute;
    top: -50px;
    z-index: 1  ;
 
}

#Section_Réalisation {
    padding-top: 10vw;
    position: relative;
    height: 35vw;

    
}

#Section_Galerie {
    padding-top: 10vw;
    position: relative;
   
    
}

#Section_Contact {
    padding-top: 10vw;
    position: relative;
    height: 40vw;
    
}

#Section_Acceuil {
    position: relative;
    height: 50vw;
    
}

html{
    scroll-behavior: smooth;
}

.container {
    display :flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
  

}

.container div {
    margin-top: 5vw;
    padding-top : 5vw;
    width : 20%;
    height: 15vw;
    text-align: center;
    border-radius: 2vw;
}

.Titre_Presta {
    color: white;
    position: relative;
    font-size:x-large;
    
}

.Detail_Presta {
    color : white;
    position: relative;
   
  
}


.parallax1 {

    background-image:  url('images/menuisier-reconversion.jpeg') ;    
    transform: translate(-20%, -50%);
    position: absolute;
    opacity: 0.8;
    filter: brightness(50%);
    background-position: center;
   
 
}

.parallax2 {

    background-image:url(images/Ebeniste.jpg);    
    background-position : center;  
    transform: translate(-20%, -50%);
    position: absolute;
    opacity: 0.8;
    filter: brightness(50%);
      
}


.parallax3 {

    background-image:url(images/Cuisine.jpg);    
    background-position : center;  
    transform: translate(-20%, -50%);
    position: absolute;
    opacity: 0.8;
    filter: brightness(50%);
    
    
}

.En_Tete {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
}

.Titre {
    flex-grow: 1;
    margin : 1vw;
    font-size: 1.2vw;

    

}

.Ligne {
    flex-grow: 1;
    border-top-color: #C68E45;
    border-top-style: solid;

}

footer {
    height: 20vw;
    background-color: var(--GrisLight);
}

.Titre_Footer {
    width: 40%;
}

.Ligne_Photo {
    display: flex;
    height: 25vw;
    margin-bottom: 2vw;
    width: 76vw;
    margin-left: auto;
    margin-right: auto;  
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    
    
   
}

.Photo1 { 
  display: flex; 
  background-image: url('images/Bibliothèque.jpg') ; 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  flex-grow: 1;
  transition: ease-in-out 0.7s;
  
}

.Photo1:hover {
    flex-grow: 3;
    transition: ease-in-out 0.7s;
}



.Photo2 {
    display: flex;
    background-image: url('images/Meuble_Tele.jpg') ; 
    background-size: cover;
    background-repeat: no-repeat; 
    flex-grow: 1;
    background-position: center;
    transition: ease-in-out 0.7s;
    
  
  }

  .Photo2:hover {
    flex-grow: 3;
    transition: ease-in-out 0.7s;
}




  .Photo3 {
    display: flex;
    justify-content: center;
    background-image: url('images/71oDhbNTEkS._AC_SX679_.jpg') ; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    flex-grow: 1;
    transition: ease-in-out 0.7s;
    
  }

  .Photo3:hover {
    flex-grow: 3;
    transition: ease-in-out 0.7s;
}

#Formulaire {
    border : solid red;
    width: 50%;
    display: flex;
    flex-wrap:wrap ;
   
}

.Texte_Contact {

    width: 45%;
   
}

.Corps_Contact {
   display: flex   ;   
   border : solid blue;
}

.Case_Form {
    width: 50%;
}